{% trans_default_domain 'FOSUserBundle' %}
{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}    

    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">        
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="login-container">
            {% if error %}
                <span style="color: red;">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
            {% endif %}
            <h1>Se connecter</h1><br>
            <form>
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="_password" required="required" />
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">Se souvenir de moi</label>
                <input type="submit" class="login login-submit" id="_submit" name="_submit" value="Connexion" />
            </form>
            <div class="login-help">
                <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a>
            </div>
        </div>
    </form>
{% endblock fos_user_content %}